<div class="container-fluid">
	<h2 class="text-light primary py-3">Admin Panel</h2>
	<div class="d-flex">
		<button mat-raised-button color="primary" (click)="addPackage()" >Add Package</button>&nbsp;
	</div>
</div>


<table id="table">
	<thead>
		<tr>
			<th scope="col">Package Id</th>
			<th scope="col">Name</th>
			<th scope="col">Cost</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody class="tbody" *ngFor="let x of items">
		<td [id]="x['packageID']">{{x['packageID']}}</td>
		<td>{{x['packageName']}}</td>
		<td>{{x['packageCost']}}</td>
		<td>
			<button mat-raised-button color="primary" (click)="updatePackage(x)" >Edit</button>&nbsp;
			<button mat-raised-button color="warn" (click)="deletePackage(x)">Delete</button>
		</td>
	</tbody>
</table>


<dialog class="modal" id="adminModal">
	<div class="head_close_container">
		<h2>Enter Details</h2>
		<button class="button close-button" (click)="closeModal()">❌</button>
	</div>
	<form class="form" method="dialog">
		<label>Package ID<input type="number" formControlName="id" class="form-control" id="packageID" aria-describedby="emailHelp">
		</label>
		<label>Package Name<input type="name" formControlName="name" class="form-control" id="packageName" aria-describedby="emailHelp">
		</label>
		<label>Package Cost<input type="number" formControlName="cost" class="form-control" id="packageCost" aria-describedby="emailHelp">
		</label>
		<!-- <button class="button" type="submit" >submit form</button> -->
		<button *ngIf="showadd" type="button" class="btn btn-success" (click)="saveOnClick()">Add</button>
        <button *ngIf="showupdate" type="button" class="btn btn-success" (click)="saveOnClick()">Update</button>
	</form>
</dialog>
