.img {
    display: block;
    width: fit-content;
    height: 100vh;
    background-image: url("../../assets/hotels1.jpg");
    background-size: cover;
}
/* 
div {
    display:contents;
    width:max-content;
    background-color:transparent;
} */