<div class="cardContainer">
	<h3 class="hotelHeader">Hotel Bookings</h3>
	<div class="selectContainer">
		<div class="label-item">
			<label>Check-In Date</label>
			<input class="date-control" type="date" id="check-in" name="check-in" (change)="updateCheckInDate()">
		</div>
		<div class="label-item">
			<label>Check-Out Date</label>
			<input class="date-control" type="date" id="check-out" name="check-in" (change)="updateCheckOutDate()">
		</div>
		<div class="label-item">
			<label>Location</label>
			<input class="form-control-input" type="text" />
		</div>
		<div class="label-item">
			<label>Hotel</label>
			<select class="form-control" id='firstList' name='firstList' (change)="itemChanged()">
			</select>
		</div>
		<div class="label-item">
			<label>Room For</label>
			<select class="form-control" id='secondList' name='secondList' (change)="finalizeBooking()">
			</select>
		</div>


	</div>
	<div class="confirmation">
		<h3 id="total" class="total">Total Cost : </h3>
		<button class="booKing" (click)="booking()">Confirm Booking</button>
	</div>

</div>