<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up!</h1>
                    <h4>Register yourself here!!</h4>
                </div>
                <form >
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email or Username</label>
                            <span style="padding: 5px;"></span>
                            <input type="email" class="form-control" id="usermail" aria-describedby="emailHelp">
                           </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Password</label>
                          <span style="padding: 5px;"></span>
                          <input type="password" class="form-control" id="password" aria-describedby="emailHelp">
                         </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                          <span style="padding: 5px;"></span>
                          <input type="password" class="form-control" id="confirmPassword" >
                        </div>
                        
                        <button type="submit" class="btn btn-primary" id="submitButton" (click)="signUp()">Sign Up</button>
                      </form>
                      <a style ="color:white" routerLink="/login">Already registered? Click to Log in!!</a>
                </form>
            </div>
        </div>
    </div>
</div>
